name: stale
on:
  schedule:
    - cron: '30 1 * * *'
  push:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          stale-issue-message: 'Message to comment on stale issues. If none provided, will not mark issues stale'
          stale-pr-message: 'Message to comment on stale PRs. If none provided, will not mark PRs stale'
          delete-branch: true
          debug-only: true
          exempt-milestones: true
